name: build-macos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  mamba-build:
    strategy:
      matrix:
        version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        os: [ macos-14, macos-15 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment from environment.yml
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.version }}
          cache-environment: true

      - name: Run the build script
        shell: bash -l {0}
        run: |
          export CC=clang
          export CXX=clang++
          python script/dependencies.py
          python setup.py bdist_wheel -- --preset build-osx # build the wheel

      - name: 'Build wheel'
        uses: actions/upload-artifact@v4
        with:
          name: pyoperon-${{ matrix.version }}-${{ matrix.os }}
          path: dist/*.whl
          retention-days: 90
