name: build-wheels

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v30

      - name: Build and run tests
        run: |
          nix develop .#pyenv --command bash << 'NIXEOF'
          python -m venv --system-site-packages .venv
          source .venv/bin/activate
          pip install scikit-build-core
          pip install --no-build-isolation .[test]
          pytest tests/ -v
          NIXEOF

  linux-wheels:
    needs: [test]
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux_2_28_x86_64
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install prerequisites
        run: |
          pipx install git+https://github.com/ami-iit/cmake-package-check
          dnf install -y clang libzstd-devel xxhash-devel

      - name: Build wheels
        run: |
          for n in {10..14}; do
            python3.${n} -m venv venv-pyoperon3.${n}
            source venv-pyoperon3.${n}/bin/activate
            pip install nanobind scikit-build-core
            python script/dependencies.py
            SKBUILD_CMAKE_ARGS="--preset=build-linux" pip wheel . -w dist/ --no-build-isolation
            auditwheel repair dist/*.whl
            rm -rf dist/*.whl
            deactivate
          done

      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux
          path: wheelhouse/
          retention-days: 90

  macos-wheels:
    needs: [test]
    strategy:
      matrix:
        version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        os: [ macos-14, macos-15 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Conda environment from environment.yml
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.version }}
          cache-environment: true

      - name: Build wheel
        shell: bash -l {0}
        run: |
          export CC=clang
          export CXX=clang++
          python script/dependencies.py
          SKBUILD_CMAKE_ARGS="--preset=build-osx" pip wheel . -w dist/ --no-build-isolation

      - name: Upload wheel
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos-${{ matrix.version }}-${{ matrix.os }}
          path: dist/*.whl
          retention-days: 90
