name: build-linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  linux-wheels:
    needs: [test]
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux_2_28_x86_64
      options: --user root
    strategy:
      matrix:
        version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install prerequisites
        run: |
          pipx install git+https://github.com/ami-iit/cmake-package-check
          dnf install -y clang libzstd-devel xxhash-devel

      - name: Build wheel
        run: |
          rm -rf build/ dist/ pyoperon/*.so
          python${{ matrix.version }} -m venv venv
          source venv/bin/activate
          pip install nanobind scikit-build-core
          python script/dependencies.py
          SKBUILD_CMAKE_ARGS="--preset=build-linux" pip wheel . -w dist/ --no-build-isolation --no-deps
          auditwheel repair dist/*.whl

      - name: Upload wheel
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux-${{ matrix.version }}
          path: wheelhouse/
          retention-days: 90
